<div align="">
<% @mess.each do |mess| %>
<% if mess.sender_id == @user.id %> 
 </ul>

<ul class="listing">
<div class="row">
<div class="well col-md-15 ">

<li class="article-title"><%= mess.message %></li>


</div>
</div>
</ul>
<% elsif mess.sender_id == current_user.id %>
</ul>

<ul class="listing">
<div class="row">
<div class="well col-md-15 ">

<li class="article-title left"><%= mess.message %></li>


</div>
</div>
</ul>

<% end %>

</li>
<% end %>
</div>

<p> send a message to <%= @user.email %> </p>

<div class="row">
  <div class="col-md-12">


    <%= form_for( @message, :html=>{class: "form-horizontal", role: "form"}) do |f| %>

      
        <div class="form-group">
          <div class="control-label col-sm-2">
      <%= f.label "to" %>
            </div>
          <div class="col-sm-8">
      <%= f.text_field :user_id,class: "form-control", placeholder: @user.id ,value: @user.id %>
                </div>
              </div>
              <div class="form-group">
                <div class="control-label col-sm-1">
      <%= f.label :message %>
            </div>
          <div class="col-sm-11 " id="message">
      <%= f.text_field :message,class: "form-control", placeholder: "Enter your message" %>
          </div>
        </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit('send',class: "btn btn-primary btn-lg") %>
      </div>
    </div>


<% end %>